<div class="modal-overlay">
    <div class="modal-container">
      <h2>Cadastrar Novo Sócio</h2>
      <form [formGroup]="socioForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nome">Nome do Sócio</label>
          <input id="nome" type="text" formControlName="nome" class="form-control" />
          <div *ngIf="socioForm.get('nome')?.invalid && socioForm.get('nome')?.touched" class="error">
            <small>Campo obrigatório</small>
          </div>
        </div>
  
        <!-- Botões para cancelar ou submeter -->
        <div class="modal-buttons">
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
          <button type="submit" class="btn btn-primary" [disabled]="socioForm.invalid">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
  