.empresa-list {
  background-color: #c1d8f0;
  border-radius: 8px;
  padding: 1rem;
  max-width: 800px; /* Define a largura máxima */
  margin: 2rem auto; /* Centraliza o contêiner horizontalmente */

  h2 {
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
  }

  /* O contêiner que envolve a <ul> */
  .empresa-items-container {
    max-height: 20rem; /* Ajuste conforme desejar */
    overflow-y: auto;  /* Cria barra de rolagem vertical */
    margin-bottom: 1rem; 
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .empresa-item {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #fafafa;
    }
  }

  .empresa-list-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    app-button {
      flex: 1 1 calc(50% - 0.5rem); /* Ajuste o cálculo para espaçamento simétrico */
      text-align: center;
      box-sizing: border-box;
    }

    @media (max-width: 600px) {
      app-button {
        flex: 1 1 100%;
      }
    }
  }
}
