<div class="empresa-list">
    <h2>Lista de Empresas</h2>
  
    <div *ngIf="loading">Carregando...</div>
    <div *ngIf="error">{{ error }}</div>
  
    <div class="empresa-items-container">
      
  <ul>
    <li *ngFor="let empresa of empresas" class="empresa-item">
      <!-- Cabeçalho da empresa, clicável para expandir -->
      <div class="empresa-header" (click)="toggleEmpresa(empresa)">
        {{ empresa.nome }}
        
        <!-- Flecha indicando aberto/fechado -->
         
        <span [class]="empresa.open ? 'arrow-up' : 'arrow-down'"></span>
      </div>

      <!-- Lista de sócios, só aparece se 'open' for true -->
      <ul *ngIf="empresa.open && empresa.socios?.length">
        <li *ngFor="let socio of empresa.socios">{{ socio.nome }}</li>
      </ul>
    </li>
  </ul>
    </div>
  
    <div class="empresa-list-buttons">
            <app-button         label="Cadastrar Empresa"         classes="button button-primary button-large"
        (buttonClick)="handleSubmit($event)">       </app-button>
  
      <app-button         label="Cadastrar Sócio"         classes="button button-primary button-large"
        (buttonClick)="handleSubmit($event)">       </app-button>
    </div>
  </div>
  
  <!-- Exibe o modal via *ngIf -->
  <app-create-company-modal
    *ngIf="showModal"
    (closeModal)="closeModal()"
    (companyCreated)="onCompanyCreated($event)">
  </app-create-company-modal>
  