/* You can add global styles to this file, and also import other style files */
:root {
    --blue-dark: #002f6c;
    --blue-brand: #0056b3;
    --white: #ffffff;
    --text-color: #333333;
    /* Ajuste conforme a identidade visual */
  }
  